// --------------------------------------------------
// Base settings
// --------------------------------------------------

// $siteWidth: 900px;


// --------------------------------------------------
// Fonts
// --------------------------------------------------

$baseFontWeight: 400;
$baseFontSize: 14px;
$baseLineHeight: 1.5;
$baseFontFamily: Verdana, sans-serif;


// --------------------------------------------------
// Colors
// --------------------------------------------------