#appContentWrapper {
    max-width: $app-content-w;
    margin-left: auto;
    margin-right: auto;
}

#appContent {
    @media screen and (min-width: #{$break-smaller + 1}) {
        &:not(.fullWidth) {
            @include column(5,6);
        }
    }
    &.fullWidth {
        padding-left: 0;
        padding-right: 0;
    }
    > article:not(:last-of-type) {
        margin-bottom: rem($space-giant);
    }
}

.post-social {
    @media screen and (min-width: #{$break-smaller + 1}) {
        [am-icon] {
            width: rem(21px);
            height: rem(21px);
        }
    }
    hr {
        vertical-align: middle !important;
        @media screen and (min-width: #{$break-smaller + 1}) {
            @include column(2,5);
        }
        @media screen and (max-width: #{$break-smaller}) {
            @include column(1,6);
        }
    }
    nav {
        vertical-align: middle !important;
        @media screen and (min-width: #{$break-smaller + 1}) {
            @include column(1,5);
        }
        @media screen and (max-width: #{$break-smaller}) {
            @include column(4,6);
        }
    }
}

.post-comment {
    padding-bottom: rem($space-big);
}

#commentForm {
    padding-top: rem($space-giant);
    padding-bottom: rem($space-giant);
    input#author {
        max-width: rem(320px);
        margin-right: rem($space-big);
    }
}

#pagination {
    padding-top: rem($space-giant);
    padding-bottom: rem($space-giant);
    @media screen and (min-width: #{$break-smaller + 1}) {
        [am-icon] {
            width: rem(21px);
            height: rem(21px);
        }
    }
    @media screen and (max-width: #{$break-smaller}) {
        [am-icon] {
            vertical-align: rem(-14px);
        }
    }
}
