#appContentWrapper {
    max-width: $app-content-w;
    margin-left: auto;
    margin-right: auto;
}

#appContent {
    &:not(.fullWidth) {
        @include column(5,6);
    }
    &.fullWidth {
        padding-left: 0;
        padding-right: 0;
    }
    > article:not(:last-of-type) {
        margin-bottom: rem($space-giant);
    }
}

.post-social {
    hr {
        @include column(2,5);
        vertical-align: middle;
    }
    nav {
        @include column(1,5);
        vertical-align: middle;
    }
}

#pagination {
    padding-top: rem($space-giant);
    padding-bottom: rem($space-giant);
}
