#appContentWrapper {
    max-width: $app-content-w;
    margin-left: auto;
    margin-right: auto;
}

#appContent {
    overflow: hidden;
    @media screen and (min-width: #{$break-smaller + 1}) {
        &:not(.fullWidth) {
            @include column(5,6);
        }
    }
    &.fullWidth {
        padding-left: 0;
        padding-right: 0;
    }
    > article:not(:last-of-type) {
        margin-bottom: rem($space-giant);
    }
}

.post-social {
    @media screen and (min-width: #{$break-smaller + 1}) {
        [am-icon] {
            width: rem(21px);
            height: rem(21px);
        }
    }
    hr {
        vertical-align: middle !important;
        @media screen and (min-width: #{$break-smaller + 1}) {
            @include column(2,5);
        }
        @media screen and (max-width: #{$break-smaller}) {
            @include column(1,6);
        }
    }
    nav {
        vertical-align: middle !important;
        @media screen and (min-width: #{$break-smaller + 1}) {
            @include column(1,5);
        }
        @media screen and (max-width: #{$break-smaller}) {
            @include column(4,6);
        }
    }
}

.post-comment {
    padding-bottom: rem($space-big);
}

#commentForm {
    padding-top: rem($space-giant);
    padding-bottom: rem($space-giant);
    #commentForm-footer {
        @media screen and (min-width: #{$break-smaller + 1}) {
            @include display-flex;
            @include flex-direction(row);
            @include align-items(center);
        }
    }
    #commentForm-inputs {
        @media screen and (min-width: #{$break-smaller + 1}) {
            @include flex(1);
        }
        #author {
            @media screen and (min-width: #{$break-smaller + 1}) {
                max-width: rem(320px);
                margin-right: rem($space-big);
            }
            @media screen and (max-width: #{$break-smaller}) {
                width: 100%;
                margin-bottom: $rootLineHeight * 1rem;
            }
        }
        #submit-comment {
            @media screen and (max-width: #{$break-smaller}) {
                width: 100%;
                margin-bottom: $rootLineHeight * 1rem;
            }
        }
    }
    #commentForm-counter {
        @media screen and (max-width: #{$break-smaller}) {
            width: 100%;
            text-align: center;
        }
    }
}

#pagination {
    padding-top: rem($space-giant);
    padding-bottom: rem($space-giant);
    @media screen and (min-width: #{$break-smaller + 1}) {
        #pagination-prev, #pagination-next {
            @include column(1,2);
            vertical-align: middle;
        }
        #pagination-prev {
            text-align: left;
        }
        #pagination-next {
            text-align: right;
        }
        [am-icon] {
            width: rem(21px);
            height: rem(21px);
        }
    }
    @media screen and (max-width: #{$break-smaller}) {
        text-align: center;
        #pagination-prev, #pagination-next {
            display: inline-block;
            vertical-align: middle;
            margin-left: rem($space-medium);
            margin-right: rem($space-medium);
        }
        [am-icon] {
            vertical-align: rem(-14px);
        }
    }
}
