#appHeader {

}

#appMenu {
    z-index: $z-9;
    @include fixed(top 0 left 0);
    width: 100%;
    border-bottom: 1px solid $c-salomie;
    background-color: $appMenu-bg-c;
}

#appMenuPages {
    @include column(7,12);
    vertical-align: middle;
}
#appMenuSearch {
    @include column(3,12);
    vertical-align: middle;
}
#appMenuSocial {
    @include column(2,12);
    vertical-align: middle;
}

#appBanner {
    padding-top: rem(80px + $appMenu-h);
    padding-bottom: rem(40px);
}
