#appHeader {

}

#appMenu {
    border-bottom: 1px solid $c-salomie;
}

#appMenuPages {
    @include column(7,12);
    vertical-align: middle;
}
#appMenuSearch {
    @include column(3,12);
    vertical-align: middle;
}
#appMenuSocial {
    @include column(2,12);
    vertical-align: middle;
}

#appBanner {
    padding-top: rem(80px);
    padding-bottom: rem(40px);
}
