// textBoxes module

/*
    <input am-textBox="light" type="text" id="TEXTBOXID">
*/

[am-textBox] {
    @include appearance(initial);
    outline: 0;
    margin: 0;
    border: 0;
    padding: rem($space-tiny + 1) rem($space-tiny) rem($space-tiny - 1);
    color: $input-txt-c;
    font-size: rem(12px);
    background-color: $input-bg-c;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    @include box-sizing(border-box);
    @include box-shadow($input-default-sh);
    &:hover {
        @include box-shadow($input-default-hover-sh);
    }
    &:focus {
        @include box-shadow($input-default-focus-sh);
    }
}

[am-textBox~="naked"] {
    color: inherit;
    @include box-shadow(none);
    background-color: transparent;
}

[am-textBox~="special"] {
    color: $input-special-txt-c;
    font-size: 1rem;
    padding: rem($space-small + 1) rem($space-small) rem($space-small - 1);
    @include box-shadow($input-special-sh);
    &:hover {
        @include box-shadow($input-special-hover-sh);
    }
    &:focus {
        @include box-shadow($input-special-focus-sh);
    }
}
