<article class="post-comment" id="comment-{{ commentIndex }}">

    <header>
        <h4 am-box="inline">{{ comment.comment_author }} <small am-text="silver">{{ function('wp_days_ago_v3') }}</small></h4>
    </header>

    <section>
        {{ comment.comment_content }}
    </section>

</article>
