{# content post index template #}
{% extends "partials/content-post.twig" %}

{% block post_content %}
    <section>

        <p><img src="{{ post.thumbnail.src('big') }}" alt="{{ post.thumbnail.post_title }}" /></p>

        <p>{{ post.get_preview(200, false, '', true) }}</p>

    </section>
{% endblock %}

{% block post_comments %}{% endblock %}
