{# footer template #}
<footer id="appFooter" am-box="paddedH" am-text="centered">

    <section am-box="wrapper">
        {% if pagination %}
            <hr am-line>
        {% endif %}
    </section>

    <header am-box="enclosed" am-text="centered">

        <h2>Sugerowane</h2>

    </header>

    {% if suggested_posts %}
        {% for post in suggested_posts %}
            {% include "partials/content-post-listed.twig" %}
        {% endfor %}
    {% else %}
        <em am-text="spaced">Brak propozycji.</em>
    {% endif %}

</footer>
