<header id="appHeader">

    {% if glowneMenu.get_items is not empty %}

        <nav id="appMenu">

            <ul am-list="inline">
                {% for item in glowneMenu.get_items %}
                    <li><a href="{{item.url}}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>

        </nav>

    {% endif %}

    <img id="logo" src="{{theme.link}}/img/migdalowyswiat-logo-420.jpg">

</header>
