<nav id="pagination" am-text="silver">

    <div am-column="1/2" am-text="lefted">
        {% if pagination.prev %}
            <a href="{{ pagination.prev.link }}" am-button="naked spacelessH">
                <img am-icon src="{{ theme.link }}/img/icons/angle-left-circle-gray-o.png" alt="<">
                <span am-box="inline">nowsze posty</span>
            </a>
        {% endif %}
    </div>

    <div am-column="1/2" am-text="righted">
        {% if pagination.next %}
            <a href="{{ pagination.next.link }}" am-button="naked spacelessH">
                <span am-box="inline">starsze posty</span>
                <img am-icon src="{{ theme.link }}/img/icons/angle-right-circle-gray-o.png" alt=">">
            </a>
        {% endif %}
    </div>

</nav>
