<aside id="appSidebar" am-box="paddedH" am-text="centered">

    <h3>Newsletter</h3>

    <h3>O mnie</h3>

    <h3>Kategorie</h3>

    <section>
        <h3>Ulubione</h3>

        {% if ulubioneMenu.get_items is not empty %}
            <ul am-list>
                {% for item in ulubioneMenu.get_items %}

                    <li><a href="{{item.url}}">{{ item.title }}</a></li>

                {% endfor %}
            </ul>
        {% endif %}
    </section>

</aside>
