<section am-text="centered spaced" am-box="paddedH">

    <h3><a href="{{ site.link }}/o-mnie">O mnie</a></h3>

    <p><img src="{{ theme.link }}/img/migdalowyswiat-avatar-165.png"></p>

    <div>
        {{ aboutMePost.content }}
    </div>

</section>
