<section am-text="centered spaced" am-box="paddedH">

    <h3><a href="{{ site.link }}/o-mnie">O mnie</a></h3>

    <p><img src="{{ theme.link }}/img/migdalowyswiat-avatar-165.png"></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel mi lobortis, rhoncus metus eget, sagittis diam. Duis a massa in mauris aliquam tristique vitae ac mauris.</p>

</section>
