<section am-text="centered spaced" am-box="paddedH">

    <h3><a href="{{ site.link }}/ulubione">Ulubione</a></h3>

    {% if ulubioneMenu.get_items is not empty %}
        <ul am-list>
            {% for item in ulubioneMenu.get_items %}

                <li><a href="{{ item.url }}">{{ item.title }}</a></li>

            {% endfor %}
        </ul>
    {% endif %}

</section>
