<section id="sidebarNewsletter" am-text="centered spaced" am-box="paddedH">

    <h3>Newsletter</h3>

    {% include "partials/newsletter-form.twig" %}

    <p>Bądź na bieżąco z nowymi wpisami na blogu.</p>

</section>
