// boxes module

/*
    <div am-box="padded black"></div>
*/

@import "modules/boxes/config";

[am-box] {
    @include box-sizing(border-box);
}

[am-box~="wrapper"] {
    max-width: $app-content-w;
    margin-left: auto;
    margin-right: auto;
}

[am-box~="enclosed"] {
    overflow: auto;
}

[am-box~="inline"] {
    display: inline-block;
    vertical-align: middle;
}

[am-box~="padded"] {
    padding: rem($space-medium);
}

[am-box~="paddedH"] {
    padding-left: rem($space-medium);
    padding-right: rem($space-medium);
}

[am-box~="black"] {
    color: $box-black-txt-c;
    background-color: $box-black-bg-c;
}

[am-box~="silver"] {
    color: $box-silver-txt-c;
    background-color: $box-silver-bg-c;
}
