// lists module

/*
    <ul am-list="padded">
        <li>ONE</li>
        <li>TWO</li>
    </ul>
*/

[am-list] {
    list-style: none;
    margin: 0;
    padding: 0;
}

[am-list~="inline"] {
    display: inline-block;
    vertical-align: middle;
    & > li {
        display: inline-block;
        vertical-align: middle;
    }
}

[am-list~="spaced"] {
    & > li {
        padding: rem($w-medium);
    }
}

[am-list~="spacedHLittle"] {
    & > li {
        padding-left: rem($w-little);
        padding-right: rem($w-little);
    }
}

[am-list~="spacedHSmall"] {
    & > li {
        padding-left: rem($w-small);
        padding-right: rem($w-small);
    }
}

[am-list~="padded"] {
    padding: rem($w-small);
}
