// all FUNCTIONAL variables

// base colors
$app-txt-c: $c-black;
$app-bg-c: $c-white;

// layout widths
$app-content-w: 1170px;

// breakpoints
$break-bigger: 1280px;
$break-smaller: 640px;

// root typography
$rootLineHeight: 1.5;
$rootFontSize: $w-medium;
$rootFontFamily: $family-hind;

// for margins and paddings
$space-giant: $w-giant;
$space-big: $w-big;
$space-large: $w-large;
$space-medium: $w-medium;
$space-small: $w-small;
$space-little: $w-little;
$space-tiny: $w-tiny;

// hr
$hr-bg-c: $c-salomie;
$hr-h: 1px;

// focus and selection
$focus-outline-c: $c-salomie;
$selection-txt-c: $c-white;
$selection-bg-c: $c-salomie;

// app menu
$appMenu-h: 56px;
$appMenu-bg-c: hsla(0, 0%, 100%, 0.96);

// code element
$code-family: 'monospace';
$code-bg-c: $c-silverLighter;
$code-br: 2px;
$code-sh: 0 0 0 1px $c-silver;

// link
$link-txt-c: inherit;
$link-txt-hover-c: $c-salomie;

// inputs commons
$input-txt-c: $c-silverLight;
$input-placeholder-txt-c: rgba($input-txt-c, $f-big);
$input-bg-c: transparent;
$input-disabled-o: $f-big;

// inputs default
$input-default-sh: 0 0 0 1px $c-silverLight;
$input-default-hover-sh: 0 0 0 2px $c-silverLight;
$input-default-focus-sh: 0 0 0 2px $c-silver;

// input special
$input-special-sh: 0 0 0 1px $c-salomie;
$input-special-hover-sh: 0 0 0 2px $c-salomie;
$input-special-focus-sh: 0 0 0 2px $c-salomieDark;
