// buttons config

// default
$button-default-txt-c: $c-black;
$button-default-bg-c: $c-white;
$button-default-sh: 0 0 0 2px $c-salomie;
$button-default-hover-sh: 0 0 0 3px $c-salomie;
$button-default-active-sh: 0 0 0 3px $c-salomieDark;
