// buttons module

/*
    <button am-button="green wide" disabled>CANTGO</button>
*/

@import "modules/buttons/config";

[am-button] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @include box-sizing(border-box);
    margin: 0;
    border: 0;
    outline: 0;
    padding: rem($space-small + 1px) rem($space-small) rem($space-small + 1px);
    font-size: 1rem;
    line-height: $rootLineHeight * 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $button-default-txt-c;
    background-color: $button-default-bg-c;
    cursor: pointer;
    @include box-shadow($button-default-sh);
    @include transition(background-color $d-faster);
    &:not([disabled]):not([am-button~="naked"]):hover {
        @include box-shadow($button-default-hover-sh);
    }
    &:not([disabled]):not([am-button~="naked"]):active,
    &:not([disabled]):not([am-button~="naked"]).active {
        @include box-shadow($button-default-active-sh);
    }
}

[am-button~="naked"] {
    color: inherit;
    border-radius: 0;
    @include box-shadow(none);
    background-color: transparent;
    font-weight: inherit;
    line-height: 1;
    &:not([disabled]):hover {
        color: inherit;
        @include opacity(0.75);
        background-color: transparent;
    }
    &:not([disabled]):active, &:not([disabled]).active {
        color: inherit;
        @include opacity(0.5);
        background-color: transparent;
    }
}

[am-button~="hidden"] {
    visibility: hidden;
    @include opacity(0);
    width: 0;
    height: 0;
    @include absolute(top 0 left 0);
}

[am-button~="spaceless"] {
    padding: 0 !important;
}

[am-button~="spacelessH"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

[am-button~="wide"] {
    padding-left: rem($space-colossal);
    padding-right: rem($space-colossal);
}

[am-button~="small"] {
    font-size: $p-giant;
    padding: rem($space-little + 1) rem($space-small) rem($space-little - 1);
}

[am-button~="full"] {
    width: 100%;
    text-align: left;
}
