// texts module

/*
    <p am-text="uppercased centered">UPPERCASED CENTERED</p>
*/

[am-text~="small"] { font-size: $p-giant; }

// weights
[am-text~="300"] { font-weight: 300; }
[am-text~="400"] { font-weight: 400; }
[am-text~="600"] { font-weight: 600; }

// aligns
[am-text~="lefted"] { text-align: left; }
[am-text~="righted"] { text-align: right; }
[am-text~="centered"] { text-align: center; }

// text transforms
[am-text~="uppercased"] { text-transform: uppercase; }
[am-text~="untransformed"] { text-transform: none; }

// letter spacing
[am-text~="spaced"] { letter-spacing: rem(1px); }
[am-text~="spacedBig"] { letter-spacing: rem(2px); }

// trims text with an ellipsis
[am-text~="trimmed"] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// colors
[am-text~="dimmed"] { @include opacity($f-big); }
[am-text~="nero"] { color: $c-nero; }
[am-text~="silver"] { color: $c-silver; }
[am-text~="silverLight"] { color: $c-silverLight; }
