{# archives template #}
{% extends "base.twig" %}

{% block app_content_attributes %}class="fullWidth"{% endblock %}

{% block content %}

    <article>

        <header am-box="enclosed" am-text="centered">
            <h2><a href="http://localhost:8888/migdalowyswiat/archiwum/">Archiwum</a></h2>
        </header>

        {{ function('wp_get_archives') }}

    </article>

{% endblock %}

{% block sidebar %}{% endblock %}

{% block base_footer %}{% endblock %}
