{# archives template #}
{% extends "base.twig" %}

{% block app_content_attributes %}class="fullWidth"{% endblock %}

{% block content %}

    {% set current_date = '' %}

    {% for post in posts %}

        {% set post_date = post.post_date|date("F Y") %}

        {% if current_date != post_date %}

            {# close previous month article (if not first one) #}
            {% if loop.index0 != 0 %}
                </article>
            {% endif %}

            {# open this month article #}
            <article am-text="centered">

                <header am-box="enclosed">
                    <h2>{{ post_date }}</h2>
                </header>

        {% endif %}

        {% set current_date = post.post_date|date("F Y") %}

        {% include "partials/content-post-listed.twig" %}

        {# close last month article #}
        {% if loop.last %}
            </article>
        {% endif %}

    {% endfor %}

{% endblock %}

{% block sidebar %}{% endblock %}

{% block base_footer %}{% endblock %}
