{% include "html-head.twig" %}

{% include "header.twig" %}

<div id="appContentWrapper">

    <section id="appContent" role="main">

        <pre>
            {{ posts|print_r }}
        </pre>

    </section><!--

 --><aside id="appSidebar">

        <h3>Newsletter</h3>

        <h3>O mnie</h3>

        <h3>Kategorie</h3>

        <h3>Ulubione</h3>

    </aside>

</div>

{% include "footer.twig" %}

{% include "html-end.twig" %}
