{% spaceless %}

    {% include "partials/html-head.twig" %}

    {% include "partials/header.twig" %}

    <div id="appContentWrapper">

        <section id="appContent" role="main">

            {% block content %}{% endblock %}

        </section>

        {% include "partials/sidebar.twig" %}

    </div>

    {% include "partials/footer.twig" %}

    {% include "partials/html-end.twig" %}

{% endspaceless %}
