{% spaceless %}

    {% include "partials/html-head.twig" %}

    {% block base_header %}
        {% include "partials/header.twig" %}
    {% endblock %}

    <div id="appContentWrapper">

        <section id="appContent" role="main" am-box="paddedH">

            {% block content %}{% endblock %}

        </section>

        {% include "partials/sidebar.twig" %}

    </div>

    {% block base_footer %}
        {% include "partials/footer.twig" %}
    {% endblock %}

    {% include "partials/html-end.twig" %}

{% endspaceless %}
