{# categories template #}
{% extends "base.twig" %}

{% block content %}

    categories

    <ul class="cat-list">
    {% for cat in categories %}
    <li><a href="{{cat.link}}">{{cat.name}}</a></li>
    {% if cat.children %}
    <ul class="cat-list-children">
    {% for child in cat.children %}
    <li><a href="{{child.link}}">{{child.name}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
    </ul>

{% endblock %}
