{# categories template #}
{% extends "base.twig" %}

{% block content %}

    <h2>{{ term.name }}</h2>

    {% for post in term.get_posts %}
        {% include "partials/content-post-listed"%}
    {% endfor %}

{% endblock %}
