{# categories template #}
{% extends "base.twig" %}

{% block app_content_attributes %}class="fullWidth"{% endblock %}

{% block content %}

    {% for category in categories %}
        <section am-text="centered">

            <header am-box="enclosed">
                <h2><a href="{{ category.link }}">{{ category.name }}</a></h2>
            </header>

            <section>

                {% for post in category.get_posts('numberposts=8') %}
                    {% include "partials/content-post-listed.twig" %}
                {% endfor %}

            </section>

        </section>
    {% endfor %}

{% endblock %}

{% block sidebar %}{% endblock %}

{% block base_footer %}{% endblock %}
