<footer></footer>

<!--[if gt IE 8]><!-->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="{{theme.link}}/js/jquery.min.js"><\/script>')</script>
<!--<![endif]--><!--[if lte IE 8]>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
<![endif]-->
{# <script src="{{theme.link}}/js/gsap.min.js"></script> #}
<script src="{{theme.link}}/js/script.js"></script>
{{function('wp_footer')}}
</body>
</html>