<header id="appHeader">

    {% if glowneMenu.get_items is not empty %}

        <nav id="appMenu">

            <ul am-list="inline">
                {% for item in glowneMenu.get_items %}
                    <li><a href="{{item.url}}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>

        </nav>

    {% endif %}

    <h1 id="logo">

        Migdałowy Świat

        <small>by Magdalena Zaremba</small>

    </h1>

</header>
